* {
    margin: 0;
    padding: 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(26, 11, 46, 1);

}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.logo span {
    background: linear-gradient(90deg,
            #F7E93F 0%,
            #FB09B4 50%,
            #9100F8 100%);

}

.logo span {
    background-clip: text;
    color: transparent;
}

.nav-links {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
}

.subscribe-btn {
    padding: 10px 22px;
    border-radius: 25px;
    background: linear-gradient(45deg, #F7E93F, #ff3cac, #784ba0);
}

/* responsible for small device 576px */

@media (max-width: 576px) {

    .nav-links {
        display: none;
    }

    .navbar {
        padding: 15px 20px;
    }

    .logo {
        font-size: 20px;
    }


    .navbar::after {

        font-size: 24px;
        cursor: pointer;
    }
}

/* responsible for large device 992px */
@media (min-width: 992px) {

    .navbar {
        padding: 25px 80px;
    }

    .nav-links {
        display: flex;
    }

    /* .logo {
    font-size: 30px;
  } */

    /* .navbar::after {
    content: "";
  } */
}